
body {
    background-image: url("../images/background.jpg");
    background-size: cover; 
    background-attachment: fixed;     
}
.header2,.header1{
    margin: 0px;
}
.header2 {
    font-size: 40px;    
    margin-bottom: 0px;
}
.nav-item{
    font-size: 25px;
    border-left: 0.5px solid #e0f55c; 
    border-right: 0.5px solid #e0f55c;
}
.nav-link{
    color: #e0f55c;      
    padding: 10px 20px;
    display: inline-block;
}
.nav-link:hover{
    color: #acb860;
}
header {
    background: #542656;
    opacity: 63%;
    font-family: Garamond ;
    font-size: 60px; 
    color: yellow;
    text-align: center;
    margin-bottom: 0px;
}
.text-right{
    text-align: right;
}
footer{
    color: white;
}





